<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample5-1</title>
</head>

<body>
  <h1>Authorized! <span sec:authentication="name"></span>
  </h1>

  <div th:if="${fruits}">
    <div th:each="fruit,stat:${fruits}">
      <ul>
        <li><a th:href="@{/sample51/step3(id=${fruit.id})}">[[${fruit.name}]]</a></li>
      </ul>
    </div>
  </div>

  <a href="/logout">ログアウト</a>
</body>

</html>
