<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample5-1</title>
</head>

<body>
  <h1>Authorized! <span sec:authentication="name"></span>
  </h1>

  <div th:if="${fruits}">
    <tr th:each="fruit,stat:${fruits}">
      <td>
        <a th:href="@{/sample5/step3(id=${fruit.id})}">[[${fruit.name}]]</a>
      </td>
    </tr>
  </div>
  <div th:if="${by_fruit}">
    [[${by_fruit.name}]]を[[${by_fruit.price}]]円で購入しました
  </div>


  <a href="/logout">ログアウト</a>
</body>

</html>
